<div class="artistic-container">

    <div class="circle-background circle-background--medium"></div>
    <div class="circle-background circle-background--big"></div>

    <div class="card card-new-team">
        <div class="card-new-team__header center-elements">
            <span class="title title-new-team">Agregar miembros</span>
        </div>
        <div class="card-new-team__content">
            <div class="filter-container">
                <div class="header-filter">
                    <label for="user-filter" class="label-filter">Elegir miembros</label>
                    <input type="text" id="user-filter" class="input-filter">
                </div>
                <div class="filter-list-container">
                    <ul class="list-users" id="list-filter-user">
                        <% @users.each do |user| %>
                            <li class="list__item" onclick="addUserToTeam(<% user.email.to_s %>)"><span><%= user.email %></span></li>
                        <% end %>
                    </ul>
                </div>
                <div class="selected-users" id="selected-users">

                </div>
            </div>
        </div>

        <div class="card-new-team__footer">
            <div class="continue-button">Continuar</div>
        </div>

    </div>
</div>

<script>
    var selectedUsers = document.getElementById('selected-users');

    function addUserToTeam(email) {
        var selectedUsersItem = document.createElement("div");
            selectedUsersItem.className ="selected-users__item";

            var userInfo = document.createElement("div");
                userInfo.className = "user-info";

                var selectedUserAvatar = document.createElement("div");
                selectedUserAvatar.className = "selected-user__avatar";

                var selectedUserEmail = document.createElement("div");
                selectedUserEmail.className = "selected-user__email";
                selectedUserEmail.innerHTML = email;

                //Set nodes
                userInfo.appendChild(selectedUserAvatar);
                userInfo.appendChild(selectedUserEmail);

            var userDelete = document.createElement("user-delete");
                userDelete.className = "user-delete";

                var deleteIcon = document.createElement("span");
                deleteIcon.className = "delete-icon";
                deleteIcon.innerHTML = "X";

                userDelete.appendChild(deleteIcon);

        //Set nodes
        selectedUsers.appendChild(userInfo);
        selectedUsers.appendChild(userDelete);
    }

    function deleteUserToTeam() {

    }
</script>