<div class="artistic-container">

    <div class="circle-background circle-background--medium"></div>
    <div class="circle-background circle-background--big"></div>

    <div class="card card-new-team">
        <div class="card-new-team__header center-elements">
            <span class="title title-new-team">Agregar miembros</span>
        </div>
        <div class="card-new-team__content">
            <div>
                <%= form_for @user_team, url: {action: "create"}, html: {class: "new-team-form"} do |f| %>
                    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :email) %>
                <% end %>
            </div>

            <table>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% end %>
            </table>
        </div>

        <div class="card-new-team__footer">
            <div class="continue-button">Continuar</div>
        </div>

    </div>
</div>
