body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    font-weight: 100;
}


.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5em 0em;
}


.hide-element {
    display: none !important;
}
 .content-main {
    height: 90vh;
    overflow-y: auto;
 }

.content-main::-webkit-scrollbar {
    background: #FFFFFF;
    width: .6em;
    border: 1px solid #eeeeee;
}

.content-main::-webkit-scrollbar-thumb {
    background: #21aeff;
    border-radius: 5em;
}