.item__selected {
    background: linear-gradient(45deg, #21aeff, #45DDEE);
    border-left: 5px solid #21aeff;
}

.item__selected a {
    color: #FFFFFF !important;
    text-decoration: none;
}

.item__selected:hover {
    background: linear-gradient(45deg, #21aeff, #45DDEE) !important;
}


.login-button, .signup-button, .add-event-dialog__content .actions input {
    background: linear-gradient(45deg, #21aeff, #45DDEE) !important;
    border: none !important;
    box-shadow: 1px 1px 15px #35ccff;

    color: #FFFFFF !important;
    cursor: pointer;

    width: 32% !important;
    border-radius: 25px !important;


    padding: .6em !important;
    font-size: .85em;
    font-weight: 100;

    transition: all .175s;
}

.login-button:hover, .signup-button:hover, .continue-button:hover, .add-event-dialog__content .actions input:hover {
    box-shadow: 1px 1px 3px #35ccff;
}


.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 65px rgba(0, 0, 0, .2);
    border-radius: 3px;

    overflow: hidden;
}

.card-new-team {
    width: 50vw;
    height: 80vh;
}

.card-new-team__header {
    width: 100%;
    height: 10%;

    background: linear-gradient(45deg, #45DDEE, #45AAEE);
}

.card-new-team__content {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-new-team__footer {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 2em;
}

.title-new-team {
    font-size: 1.6em;
    color: #FFFFFF;
    text-shadow: 2px 1px 2px #45AAEE;
}

.quantity {
    border-radius: 50%;

    border: 1px solid #45AAEE;
    color: #45AAEE;
}

.add-icon {
    color: #45AAEE;
    font-size: 7em;

}

.circle-background {
    background: linear-gradient(45deg, #00EDFF, #45AAEE);
    border-radius: 50%;

    position: absolute;
}

.circle-background--medium {
    width: 35vh;
    height: 35vh;

    top: 10%;
    left: -5%;
}

.circle-background--big {
    width: 52vh;
    height: 50vh;
    top: 40%;
    left: 85%;
    transform: rotate(65deg);
}
