.container-events {
    width: 100%;
    height: 100%;

    padding: 1em;

    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.events-action {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
}

.add-event-button {
    width: 10% !important;
    padding: .5em !important;
    outline: none;
    border: none;
}

.card-event {
    background: #FFFFFF;

    display: flex;
    flex-direction: column;

    width: 29%;
    height: 45vh;

    margin: 2%;
    box-shadow: 1px 1px 15px #ddd !important;
}

.card-event > div {
    width: 100%;
    padding: .5em;
}

.card-event__header {
    height: 40%;
    background: #eeeeee;

    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.card-event__content {
    height: 45%;
}

.card-event__footer {
    height: 15%;
    background: rgba(69, 170, 238, .08);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: .8em;
}


.event-user__image {
    width: 2.2em;
    height: 2.2em;

    margin-right: .5em;

    border-radius: 50%;
    background: #aaaaaa;
}




.container-dialog {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event-dialog {
    width: 40%;
    height: 90vh;
    background: #FFFFFF;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 !important;
}

.add-event-dialog__header {
    width: 100%;
    height: 10%;
    background: linear-gradient(45deg, #45DDEE, #45AAEE);

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event-dialog__content {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event-dialog__content form {
    width: 90%;
}

.add-event-dialog__content label {
    margin: .5em;
}

.add-event-dialog__content input {
    width: 100%;

    margin: .5em;
    padding: .5em;

    outline: none;
    border-radius: 2px;
    border: 1px solid #eeeeee;

    font-size: .8em;
    color: #555555;

    transition: all .250s;
}

.add-event-dialog__content form .actions input {
    width: 50%;
}

