.card-event {
    background: #FFFFFF;

    display: flex;
    flex-direction: column;

    width: 25%;
    height: 45vh;
}

.card-event div {
    width: 100%;
    padding: .5em;
}

.card-event__header {
    height: 40%;
    background: linear-gradient(#FFFFFF, #999999);

    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.card-event__content {
    height: 48%;
}

.card-event__footer {
    height: 12%;
    background: rgba(69, 170, 238, .08);

    display: flex;
    align-items: center;
}

