.auth-form {
    width: 32%;
    height: 75vh;
    margin: auto;

    background: #FFFFFF;
    box-shadow: 1px 1px 55px rgba(0, 0, 0, .13);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #333333;

    overflow: hidden;
}

.auth-form-signup {
    height: 85vh;
}

.field {
    margin-top: .8em;
}

.title-form {
    font-size: 1.8em;
}

.auth-form__header, .auth-form__content, .auth-form__footer {
    width: 100%;
}

.auth-form__header, .auth-form__footer {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form__footer {
    background: rgba(240, 243, 245, .53);
}

.auth-form__footer {
    color: #45AAEE;
}

.auth-form__footer a {
    text-decoration: none;
    background: #FFFFFF;
    color: #45AAEE;
    margin: .3em;
    padding: .3em .9em;
    border: 1px solid #45AAEE;
    border-radius: 30px;
}

.auth-form__content {
    height: 76%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form label, .new-team-form label {
    margin: .5em;
}

.auth-form input, .new-team-form input, .auth-form textarea, .new-team-form textarea  {
    width: 100%;

    margin: .5em;
    padding: .5em;

    outline: none;
    border-radius: 2px;
    border: 1px solid #eeeeee;

    font-size: .8em;
    color: #555555;

    transition: all .250s;
}

.auth-form input:focus,
.new-team-form input:focus,
.auth-form textarea:focus,
.new-team-form textarea:focus,
.add-event-dialog__content form input:focus {
    border: 1px solid #45AAEE;
}

.auth-form input[type="submit"], .new-team-form input[type="submit"] {
    min-width: 20%;
    margin: auto;
}

.new-team-form input[type="submit"] {
    font-size: .9em;
}

.new-team-form textarea {
    resize: none;
    min-height: 10vh;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #45DDEE, #45AAEE);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form, .new-team-form {
    width: 80%;
}

.new-event-form .field {
    width: 100%;
}
