//To center elements
.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-elements-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
