// Place all the styles related to the UserTeams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.continue-button {
    background: linear-gradient(45deg, #45DDEE, #45AAEE);

    padding: .4em 1em;
    border-radius: 100px;

    color: #FFFFFF;
}